html {
    -webkit-text-size-adjust: 100%;
}
body {
    max-width: 90%;
    font-family: "Noto Sans Mono", Consolas, "SF Mono", monospace;
}
/* This footer was taken from https://github.com/xz/new.css/pull/72 */
footer {
    background: var(--nc-bg-2);
    border-top: 1px solid var(--nc-bg-3);
    padding: 2rem 1.5rem;
    margin: 2rem calc(0px - (50vw - 50%)) -2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

footer h1,
footer h2,
footer h3 {
    padding-bottom: 0;
    border-bottom: 0;
}

footer > *:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer > *:last-child {
    margin-top: 0;
}

h1 {
    white-space: nowrap;
    overflow-wrap: normal;
    word-break: keep-all;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}
td, th {
    white-space: nowrap;
}
.navbar-icon {
    width: 155px;
    height: 155px;
    overflow: hidden;
    border-radius: 50%;
}
blockquote h4 {
    padding-top: 0;
}
details[open] summary {
    padding-bottom: 10px;
}
a button {
    background-color: rgb(25, 25, 25);
    border: 0.5px solid white;
}
a button:hover {
    background-color: rgb(30, 30, 30);
}
a {
    background: rgb(225, 225, 225);
    color: black;
    text-decoration: underline;
}
a:hover {
    color: black;
}
td {
    color: white;
}
td a {
    background: unset;
    color: white;
    text-decoration: underline;
}
td a:hover {
    background: unset;
    color: gray;
    text-decoration: underline;
}
header, footer {
    background-color: rgb(25, 25, 25)
}
header h1 {
    padding-bottom: 10px;
}
.service-table a, .service-table td {
    color: white;
}
.offline td {
    color: gray;
}
.working td, .working a{
    color: green;
}
.good td, .good a{
    color: lightgreen;
}
.decent td, .decent a{
    color: rgb(255, 255, 132);
}
.partial td, .partial a{
    color: orange;
}
.medium td, .medium a{
    color: salmon;
}
.bad td, .bad a{
    color: red;
}
/* Lightmode things */
@media (prefers-color-scheme: light) {
    header, footer {
        background-color: rgb(255, 255, 255)
    }
    .service-table a, .service-table td {
        color: black;
    }
    pre {
        background: rgb(25, 25, 25);
    }
}


@media (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    body {
        font-size: 0.8rem;
    }
  }